body
	{
		font-family : Tahoma;
		clear : both;
	}
#wrapper
	{
		width : 980px;
		margin-left : auto;
		margin-right : auto;
	}
a
	{
		text-decoration : none;
	}
#menu ul
	{
		font-family : Tahoma;
		text-align : center;
	}
 
#menu ul li
	{
		float : left;
		width : 25%;
	}
 
#menu ul a
	{
		color : white;
		display : block;
		font-weight : bold;
		padding :10px 30px;
		background : #228B22;
	}
#menu ul a:hover
	{
		background : #4CC417;
	}
header
	{
		margin-bottom : 60px;
	}
#sc1
	{
		width : 30%;
		height : 700px;
		float : left;
		margin-right : 7px;
	}
#sc2
	{
		width : 69%;
		height : 700px;
		float : left;
	}
#danhmuc
	{
		width : 100%;
		height : auto;
		font-family : Tahoma;
	}
.ttdanhmuc
	{
		line-height : 30px; 
		text-indent : 20px; 
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		background : #228B22 ;
		color : white;
		font-size : 15px;
		font-weight : bold;
	}
.tpdanhmuc
	{
		line-height : 30px;
		background : #4CC417;
		border-top : 1px solid white;
		color : white;
		font-size : 14px;
		text-indent : 70px;
		font-weight : none;
	}
.tpdanhmuc:hover
	{
		background : #228B22;
		font-weight : bold;
	}
.ttnoidung
	{
		line-height : 30px; 
		text-indent : 40px;
		background : #228B22 ;
		color : white;
		font-size : 15px;
		font-weight : bold;
		font-family : Tahoma;
	}
.sp
	{
		margin-top : 10px;
		width:300px;
		height:275px;
		overflow:hidden;
		border:solid 1px #4CC417;
		position: relative;
		float : left;
		margin-left : 20px;
		margin-right : 10px;
	}
.anhsp
	{
		width : 300px;
		height : 200px;
	}
.tensp
	{
		line-height : 30px;
		background : #4CC417; 
		color : white; 
		margin-left : 2px; 
		margin-right : 2px;
		text-align : center;
	}
.giasp
	{
		line-height : 30px;
		background : #C71585;
		color : white;
		margin-left : 2px;
		margin-right : 2px;
		margin-top : 5px;
		margin-bottom : 9.5px;
		text-align : center;
	}
.detailsp
	{
		width:300px;
		height:400px;
		margin-top: 0px;
		position: absolute;
	}
.tangkem
	{
		background-color: #cc0000;
		background: -webkit-gradient(linear,left bottom,left top,color-stop(0.3, #cc0000),color-stop(0.7, #330000));
		color : white;
	}
.tangkem1
	{
		text-align : left;
	}
footer
	{
		clear : both;
		position : absolute;
		background : black;
	}
#zoom
	{
		border : 1px solid #228B22;
		width : 600px;
		height : 400px;
	}
#bin
	{
		border : 1px solid #4CC417;
		width : 610px;
		height : 200px;
		margin-top : 20px;
	}
.small
	{
		width : 100px;
		height : 100px;
		float : left;
	}
#big
	{
		width : 600px;
		height : 400px;
	}
#contact
	{
		width : 640px;
		height : 1000px;
		border : 1px solid #4CC417;
		clear : both;
		display : -webkit-box;
		-webkit-box-orient : vertical;
	}
#btnsubmit
	{
		background : #228B22;
		margin-top : 10px;
		clear : both;
		border-radius : 5px 5px 5px 5px;
		color : white;
		font-size : 15px;
		font-family : Tahoma; 
	}
.reset
	{
		background : #228B22;
		margin-top : 10px;
		clear : both;
		border-radius : 5px 5px 5px 5px;
		color : white;
		font-size : 15px;
		font-family : Tahoma; 
	}
#ad
	{
		width : 290px; 
		margin-top : 50px;
	}